body {
    font-family: 'PT Sans', sans-serif;
}

#detalle {
    background: #E3CDA4;
    border-radius: .5em;
    margin: 0 auto;
    padding: 1.5em;
    text-align: center;
    transition: all 0.5s ease;
    width: 50%;
}

#detalle:hover {
    box-shadow: 0px 0px 20px #703030;
}

table {
    text-align: left;
}

.titulos {
    text-align: center;
}

img {
    max-width: 25%;
}