body {
    font-family: 'PT Sans', sans-serif;
}

#formulario {
    background: #C7DBD0;
    border-radius: .5em;
    margin: 0 auto;
    padding: 1.5em;
    text-align: center;
    transition: all 0.5s ease;
    width: 50%;
}

#formulario:hover {
    box-shadow: 0px 0px 20px #207245;
}

table {
    margin: 0 auto;
    width: 50%;
}

table td.derecha {
    text-align: right;
}

table td.izquierda {
    text-align: left;
}