body{
    font-family: Arial;
    background: brown;
}

#contenedor{
    width: 55%;
    margin: 0 auto;
}

header{
    border: 1px solid #000;
    border-radius: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 5px #000;
    padding: .8em;
    background: #fff;
    margin-bottom: 2em;
}

header img{
    max-width: 15%;
}

section#datosPersonales{
    background: #fff;
    padding: .5em;
}

p.circuloNumero{
    background: #000;
    display: inline-block;
    padding: 1em;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    color: #fff;
    font-size: 1.2em;
}

h3.tituloDatosP{
    background: #000;
    border-radius: 1em;
    color: #fff;
    display: inline-block;
    padding: .3em 1.8em .3em 1.8em;
}

table{
    font-style: italic;
}